<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.quize.quizepush" >

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <service android:name=".NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name=".NotificationReceiver">
        </receiver>
        <receiver android:name=".BootReceiver" android:exported="false" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>